[Unit]

Description = Pool Control Deamon
After = network.target <AFTER>

[Service]

Type = forking
ExecStart = <BINDEST>/poold
Restart = always

[Install]

WantedBy = multi-user.target
