*.so
*.o
*.a
*.tgz
*~
lib/t
vg.log
lib/tst
core

Make.user

mqt
build-nano-atmega328
dbchart
.dependencies
htdocs/stylesheet.css.save

/bmsmqtt
/w1mqtt
/homectld
/i2cmqtt
/victronmqtt
/blescan
/votromqtt
