[Unit]

Description = Thetford N4000 data to MQTT service
After = network.target
StartLimitInterval = 200
StartLimitBurst = 5

[Service]
EnvironmentFile=-/etc/default/thetford2mqtt
Type = simple
ExecStart = /usr/bin/python3 /usr/local/bin/thetford.py ${THETFORD_MQTT} ${THETFORD_LG} ${THETFORD_OPTS}
Restart = always
RestartSec = 30

[Install]

WantedBy = multi-user.target
